<%= form_for @product, html: {:class => "form-horizontal", :multiple => true} do |f| %>
<div class="container content-area-height">
  <div class="product-page-title">Selling Details</div>
  <br><br>
  <div class="row">
    <div class="col-sm-5">
      <div>
        <img src="/assets/veg.jpeg" class="sell-upload-img" id="preview">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Upload Image</label>
        <%= f.file_field :images, :id=>"exampleInputFile" %>
      </div>
      <div class="form-group">
        <label for="sellDate" class="col-sm-4 control-label">Close Date</label>
        <div class="col-sm-8">
          <%= f.text_field :close_date, :class=>"form-control",:id=>"datepicker", :placeholder=>"Close Date"%>
        </div>
      </div>
      <div class="form-group">
        <label for="subCtaegory" class="col-sm-4 control-label">Sub Category</label>
        <div class="col-sm-8">
          <%= f.select :sub_category_id, @sub_categories.collect {|p| [ p.name, p.id ] }, {:prompt => "Select"}, { :class => "form-control" }  %>
        </div>
      </div>
      <div class="form-group">
        <label for="Quantity" class="col-sm-4 control-label">Quantity</label>
        <div class="col-sm-5">
          <%= f.text_field :quantity, :class=>"form-control",:id=>"Quantity", :placeholder=>"Quantity"%>
        </div>
        <div class="col-sm-3">
        <%= f.select :quantity_type, options_for_select(ConfigCenter::Measurement::Type), {}, { id: 'districts_select', :class => "form-control" } %>
       </div>
     </div>
   </div>
   <div class="col-sm-2"></div>
   <div class="col-sm-5">
    <div class="form-group">
      <label for="subCtaegory" class="col-sm-4 control-label">Name</label>
      <div class="col-sm-8">
        <%= f.text_field :seller_name, :class=>"form-control",:id=>"Name", :placeholder=>"Name"%>
      </div>
    </div>
    <div class="form-group">
      <label for="E-mail" class="col-sm-4 control-label">E-mail</label>
      <div class="col-sm-8">
        <%= f.text_field :email, :class=>"form-control",:id=>"E-mail", :placeholder=>"E-mail Address"%>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber" class="col-sm-4 control-label">Phone Number</label>
      <div class="col-sm-8">
        <%= f.text_field :phone, :class=>"form-control",:id=>"phoneNumber", :placeholder=>"Phone Number"%>
      </div>
    </div>
    <div class="form-group">
      <label for="Quantity" class="col-sm-4 control-label">Min. Price</label>
      <div class="col-sm-5">
        <%= f.text_field :price, :class=>"form-control",:id=>"Price", :placeholder=>"Price"%>
      </div>
      <div class="col-sm-3">
       <%= f.select :price_type, options_for_select(ConfigCenter::Measurement::Type), {}, { id: 'districts_select', :class => "form-control" } %>
     </div>
   </div>
   <div class="form-group">
    <label for="Address" class="col-sm-4 control-label">Address</label>
    <div class="col-sm-8">
      <!-- <textarea class="form-control" rows="3"></textarea> -->
      <%= f.text_field :address, :class=>"form-control",:placeholder=>"Other Details"%>
    </div>
  </div>
  <div class="form-group">
    <label for="Address" class="col-sm-4 control-label">District</label>
    <div class="col-sm-8">
      <!-- <textarea class="form-control" rows="3"></textarea> -->
      <%= f.select :district_id, District.all.collect {|p| [ p.name, p.id ] }, {:prompt => "Select District"}, { :class => "form-control" }  %>
    </div>
  </div>
  <div class="form-group">
    <label for="Address" class="col-sm-4 control-label">State</label>
    <div class="col-sm-8">
      <!-- <textarea class="form-control" rows="3"></textarea> -->
      <%= f.select :state_id, State.all.collect {|p| [ p.name, p.id ] }, {}, { :class => "form-control" }  %>
    </div>
  </div>
  <div class="form-group">
    <label for="otherDetails" class="col-sm-4 control-label">Other Details</label>
    <div class="col-sm-8">
      <%= f.text_field :other_details, :class=>"form-control",:id=>"otherDetails", :placeholder=>"Other Details"%>
    </div>
  </div>
</div>
</div>
<div class="text-right">
  <%= f.hidden_field :category_id, type: "hidden", value: params['category_id'] %>
  <%= f.submit "Submit", :class=>"btn btn-lg btn-primary" %>
</div>
<% end %>
</div>
<script>
jQuery(function($){
  $(document).ready(function(){
    $(function() {
      $( "#datepicker" ).datepicker();
    });
  });
  });
  setTimeout(function(){ $("#exampleInputFile").change(function(){
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(this.files[0]);
    }
  }); }, 400);
</script>
